<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotes/style.css' %}">
    <title>Gide</title>
</head>

<body>
    <div class="container">
        <div class="row header-box">
            <div class="col-md-8">
                <h1>
                    <a href="/" style="text-decoration: none">Quotes to Scrape</a>
                </h1>
            </div>
            <div class="col-md-4">
                <p>

                    <a href="/login">Login</a>

                </p>
            </div>
        </div>

        <div class="author-details">
            <h3 class="author-title">André Gide</h3>
            <p><strong>Born:</strong> <span class="author-born-date">November 22, 1869</span> <span
                    class="author-born-location">in Paris, France</span></p>
            <p><strong>Description:</strong></p>
            <div class="author-description">
                André Paul Guillaume Gide was a French author and winner of the Nobel Prize in literature in 1947.
                Gide's career ranged from its beginnings in the symbolist movement, to the advent of anticolonialism
                between the two World Wars.Known for his fiction as well as his autobiographical works, Gide exposes to
                public view the conflict and eventual reconciliation between the two sides of his personality, split
                apart by a straight-laced education and a narrow social moralism. Gide's work can be seen as an
                investigation of freedom and empowerment in the face of moralistic and puritan constraints, and
                gravitates around his continuous effort to achieve intellectual honesty. His self-exploratory texts
                reflect his search of how to be fully oneself, even to the point of owning one's sexual nature, without
                at the same time betraying one's values. His political activity is informed by the same ethos, as
                suggested by his repudiation of communism after his 1936 voyage to the USSR.
            </div>
        </div>

    </div>
</body>