<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotes/style.css' %}">
    <title>Martin</title>
</head>

<body>
    <div class="container">
        <div class="row header-box">
            <div class="col-md-8">
                <h1>
                    <a href="/" style="text-decoration: none">Quotes to Scrape</a>
                </h1>
            </div>
            <div class="col-md-4">
                <p>
                    <a href="/login">Login</a>
                </p>
            </div>
        </div>

        <div class="author-details">
            <h3 class="author-title">Steve Martin</h3>
            <p><strong>Born:</strong> <span class="author-born-date">August 14, 1945</span> <span
                    class="author-born-location">in Waco, Texas, The United States</span></p>
            <p><strong>Description:</strong></p>
            <div class="author-description">
                Stephen Glenn "Steve" Martin is an American actor, comedian, writer, playwright, producer, musician, and
                composer. He was raised in Southern California in a Baptist family, where his early influences were
                working at Disneyland and Knott's Berry Farm and working magic and comedy acts at these and other
                smaller venues in the area. His ascent to fame picked up when he became a writer for the Smothers
                Brothers Comedy Hour, and later became a frequent guest on the Tonight Show.In the 1970s, Martin
                performed his offbeat, absurdist comedy routines before packed houses on national tours. In the 1980s,
                having branched away from stand-up comedy, he became a successful actor, playwright, and juggler, and
                eventually earned Emmy, Grammy, and American Comedy awards.
            </div>
        </div>
    </div>
</body>

</html>